html,
body {
  padding: 0 !important;
  margin: 0 !important;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: Taviraj !important;
  color: #343436 !important;
}
p {
  font-family: Taviraj !important;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: Taviraj !important;
  color: #343436 !important;
  font-weight: 300 !important;
  letter-spacing: 6px !important;
  text-transform: uppercase !important;
  font-size: 32px !important;
}
h2 {
  font-family: Taviraj !important;
  color: #343436;
  font-weight: 300 !important;
  letter-spacing: 6px !important;
  text-transform: uppercase !important;

}

.linkbtn {
  font-size: 16px !important;
  /* margin-right: 0.5rem; */
  line-height: 1 !important;
  margin: 0 auto !important;
  padding: 8px 8px 6px !important;
  font-weight: 400 !important;
  letter-spacing: 2px !important;
  width: fit-content !important;
  cursor: pointer;
}
/* .linkbtn:active {
  border-bottom: 2px solid #343436;
} */

@media only screen and (max-width: 600px) {
  .main_photo {
    height: 30vw !important;
  }
  .banner-txt {
    font-weight: 300 !important;
    font-size: 20px !important;
  }
}
